//MainPage
.MainPage {
  #section-0 {
    color: #1a154c;
    padding-top: 300px;
    background-color: transparent;
    .items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .item {
        margin: 5px;
        font-size: 18px;
      }
    }
    .block-ul {
      ul {
        li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }

  }
  #section-1 {
    color: whitesmoke;
    background: linear-gradient(-45deg, #1a154c, #3b354c, #1a154c, #3b354c);
    animation: Gradient 15s ease infinite;
    background-size: 400% 400%;
    .ui.container {
      display: flex;
      justify-content: center;

    }
    ul {
      text-align: left;
      li {
        display: flex;
        align-items: center;
        svg {
          margin-right: 15px;
        }
      }
    }
  }
  #section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1a154c;
    background-color: transparent;
    .items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .item {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          width: 90%;
        }
        svg {
          height: 50px;
        }
      }
    }
  }
  #section-3 {
    div {
      margin: 20px 0;
      svg {
        margin-right: 15px;
      }
    }
    color: whitesmoke;
    background: linear-gradient(-45deg, #1a154c, #3b354c, #1a154c, #3b354c);
    animation: Gradient 15s ease infinite;
    background-size: 400% 400%;
  }
  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  #section-4 {
    color: #1a154c;
    background-color: transparent;
    padding: 50px 0;
    .formBlock {
      width: 90%;
      .fields {
        .ui.input {
          width: 50%;
          input {
            margin: 20px 0;
            outline: none;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid darkred;
            background-color: transparent;
            color: #1a154c;
            font-family: 'Fredericka the Great', Merriweather;
          }
          ::placeholder {
            color: #1a154c;
            font-family: 'Fredericka the Great', Merriweather;
          }
        }
      }
      .field {
        textarea {
          width: 50%;
          margin: 20px 0;
          outline: none;
          border: none;
          border-radius: 0;
          border-bottom: 1px solid darkred;
          background-color: transparent;
          color: #1a154c;
          font-family: 'Fredericka the Great', Merriweather;
        }
        ::placeholder {
          color: #1a154c;
          font-family: 'Fredericka the Great', Merriweather;
        }
      }
    }
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
    text-transform: uppercase;
    font-family: 'Fredericka the Great', Merriweather;
    ul {
      padding: 0;
      list-style-type: none;
      li {
        margin: 25px 0;
      }
      a {
        cursor: pointer;
        font-size: 26px;
        color: #1a154c;
      }
      a:visited {
        color: #1a154c;
      }
      a:hover {
        color: darkred;
      }
    }
    h2 {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 600px) {
  .MainPage {
    #section-2 {
      padding: 50px 0;
      .items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        .item {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
    #section-4 {
      .formBlock {
          width: 100%;
          .fields {
            .ui.input {
              width: 90%;
            }
          }
        .field {
          textarea {
            width: 90%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .MainPage {
    #section-0 {
      .items {
        .item {
          font-size: 14px;
        }
      }
      a {
        font-size: 16px;
      }

    }
  }

}