//MainPage
.MainPage {
  #section-0 {
    padding-top: 300px;
    background-color: transparent;
  }
  #section-1 {
    color: whitesmoke;
    background-color: #1a154c;
    .items {
      display: flex;
      flex-direction: row;
    }
  }
  #section-2 {
    background-color: transparent;
    .items {
      display: flex;
      flex-direction: row;
    }
  }
  #section-3 {
    color: whitesmoke;
    background-color: #1a154c;
  }
  #section-4 {
    color: #1a154c;
    background-color: transparent;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
    text-transform: uppercase;
    font-family: 'Abril Fatface', cursive;
    .img1 {
      height: 200px;
    }
    .img2 {
      height: 150px;
    }

  }
}