//PagePrice
.PagePrice {
  font-family: 'Fredericka the Great', Merriweather;
  font-size: 20px;
  color: #1a154c;
  #section-0 {
    padding-top: 300px;
    min-height: 100px;
    h2 {
      padding: 25px 0;
    }
  }
  #section-1 {
    min-height: 95vh;
    display: flex;
    justify-content: flex-start;
    .ui.container {
      margin: 50px 0;
      .ulBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
          text-align: left;
        }
      }
    }
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
  }
}