//PageInfo
.PageInfo {
  #section-0 {
    padding-top: 300px;
    min-height: 100px;
    h2 {
      padding: 25px 0;
    }
  }
  #section-1 {
    min-height: 95vh;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
  }
}