//Page30
.Page30 {
  #section-0 {
    padding-top: 400px;
    min-height: 100px;
  }
  #section-1 {
    min-height: 95vh;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
  }
}