//Footer
footer {
  .footer {
    padding: 50px 0;
    font-family: 'Fredericka the Great', Merriweather;
    font-size: 20px;
    color: white;
    background-color: #1a154c;
    display: flex;
    justify-content: center;
    .items {
      display: flex;
      justify-content: space-between;
      .socialBlock {
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        a {
          cursor: pointer;
          color: white;
        }
        a:hover {
          color: darkgray;
        }
        a:visited {
          color: white;
        }
        * {
          margin: 5px;
        }
      }
      .mediaBlock {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  footer {
    .footer {
      .items {
        flex-direction: column;
      }
    }
  }
}