//Header
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
.Header {
  background-color: whitesmoke;
  .itemsM {
    display: none;
  }
  .menuBlock {
    z-index: 30;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #1a154c;
    .items {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .item {
        margin: 5px;
        cursor: pointer;
        a {
          text-transform: uppercase;
          color: white;
          font-family: 'Fredericka the Great', Merriweather;
          font-size: 26px;
        }
        a:hover {
          transition: 1s;
          text-decoration: none;
          text-shadow: 1px 1px 16px rgba(250, 250, 250, 1);
        }
      }
    }
    .item:hover {
      opacity: .9;
      cursor: pointer;
    }
  }
  #info {
    text-transform: uppercase;
    color: white;
    font-family: 'Fredericka the Great', Merriweather;
    font-size: 16px;
    z-index: 11;
    position: absolute;
    top: 20%;
    left: 20%;
    display: flex;
    flex-direction: column;
    .info-4 {
      font-size: 26px;
    }
    div {
      span {
        margin: 25px 0;
      }
    }
  }
  #head {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    #navigation {
      width: 100vw;
      display: flex;
      justify-content: space-around;
    }
    button {
      border: none;
      outline: none;
      color: white;
      cursor: pointer;
      background: transparent;
      margin: 10px 0;
      a {
        color: white;
      }
      a:hover {
        color: darkred;
      }
      a:visited {
        color: white;
      }
    }
    button:hover {
      color: darkred;
    }
  }
 nav {
   transition: .5s;
   color: white;
   text-transform: uppercase;
   text-shadow: 4px 4px 15px rgba(150, 150, 150, 1);
   font-size: 26px;
   font-family: 'Abril Fatface', 'Merriweather';
   font-weight: 700;
   background: url("../../../assets/img/keg.png") 75% 100% no-repeat, url("../../../assets/img/fire.jpg") 100% 100% no-repeat;
   background-size: contain, cover;
   .items {
     height: 500px;
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: flex-start;
     .item {
       transition: 1s;
       cursor: pointer;
       margin: 25px 10px;
       a {
         transition: 1s;
         color: white;
       }
       a:hover {
         transition: 1s;
         color: darkred;
       }
       a:visited {
         color: white;
       }
     }
     .item:hover {
       color: darkred;
       .hover {
         transition: 1s;
         visibility: visible;
         clip-path: polygon(0 0, 100% 0, 100% 70%, 65% 70%, 50% 100%, 35% 70%, 0 70%);
         margin-bottom: 5px;
         height: 15px;
         width: 100%;
         background-color: darkred;
       }
     }
     .hover {
       transition: 1s;
       visibility: hidden;
     }
   }


   .search {
     transition: 1s;
     cursor: pointer;
     margin: 25px 10px;
   }
 }
  nav:hover {
    background: url("../../../assets/img/keg.png") 85% 100% no-repeat, url("../../../assets/img/fire.jpg") 100% 100% no-repeat;
    background-size: contain, cover;
  }
  .content {
    text-align: center;
    background-color: transparent;
    #myVideo {
      position: fixed;
      opacity: .2;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }
}

@media screen and (max-width: 1050px) {
  .Header {
    .itemsM {
      color: white;
      z-index: 31;
      display: flex;
      position: fixed;
      margin: 25px 10px;

    }
    .itemsM:hover {
      transition: 1s;
      cursor: pointer;
    }
    nav {
      #navigation {
        .items {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .Header {
    #info {
      left: 5%;
      width: 80vw;
      .info-1 {
        img {
          width: 80vw;
        }
      }
      .info-4 {
        font-size: 14px;
      }
    }
    footer {
      .footer {
        .items {
          flex-direction: column;
        }
      }
    }
  }
}
